.newinbar_manga {
  background-repeat: no-repeat;
  background-size: 800px 400px;
  /* background-size: cover; */
  /* background-position: top -50px; */
  opacity: 0.7;
  height: inherit;
  width: 90%;
  display: flex;
  align-items: center;
  font-size: 30px;
  padding-left: 0.5rem;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
