@import url("https://fonts.googleapis.com/css2?family=Asap:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap");
body {
  margin: 0;
  padding: 0;
}

.newsbar_container {
  /* background: #fff; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  position: relative;
  font-family: "Asap", sans-serif;
  overflow: hidden;
  border: 2px solid blue;
}

.newsbar_container > .newsbar_wrapper {
  width: 800px;
  height: inherit;
  border: 2px solid red;
  display: flex;
  align-items: center;
  position: relative;
}
.newsbar_container > .newsbar_title {
  width: 80px;
  font-weight: 900;
  color: #fff;
  background-color: #e96d77;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
